{% extends 'base.html'%}

{% block head%}
  
{% endblock %}

{% block body%}

<h1>Marmython</h1>
<h2>Add the recipes you want to cook.</h2>

<!-- Display the recipes added, if so -->
{% if recipes|length < 1 %}
    <h4>There is no reciepe refered yet. Please add one.</h4>
{% else %}
    <h4>Your recipes : </h4>
    <table>                               
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe }}</td>
                <td>
                    <!-- Button to delete the recipe -->
                    <a class="bouton_del" href="/delete/{{loop.index0}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<!-- Button to add a recipe to the list -->
<form action="/" method="POST">
    <input class="bouton_text" type="text", name="recipe">
    <input class="bouton_action" type="submit" value="Add the recipe">
</form>

<h2>Add the number of person you cook for.</h4>

<!-- Button to aggregate the ingredients of the recipies -->
<form action="/get_ingredient" method="POST">
    <input class="bouton_text" width= 3rem type="int", name="nbr_person">
    <br>
    <input class="bouton_agg" type="submit" value="Get the ingredients you need">
</form>

{% endblock %}